
@{
    ViewData["Title"] = "Add lessons";
}

@section Head{
    <link rel="stylesheet" href="~/css/styleprofile.css">
}

<div class="center">
    <div class="two">
        <div class="thing m-2 two_left">
            <h2 class="up">Subject</h2>
            <hr>
            <input type="text" id="subject">
        </div>
        <div class="thing m-2 two_right">
            <h2 class="up">Classroom</h2>
            <hr>
            <input type="text" id="classroom">
        </div>
    </div>
    <div class="two">
        <div class="thing m-2 two_left">
            <h2 class="up">Class</h2>
            <hr>
            <input type="text" id="class">
        </div>
        <div class="thing m-2 two_right">
            <h2 class="up">Teacher</h2>
            <hr>
            <input type="text" id="teacher">
        </div>
    </div>
    <div class="shedule_day">
        <h3 class="up"><i>Monday</i></h3>
        <table>
            <tr>
                <th>#</th>
                <th>Subject</th>
                <th>Classroom</th>
                <th>Teacher</th>
            </tr>
            <tr>
                <th>1</th>
                <th>Lesson1</th>
                <th>Classroom1</th>
                <th>Teacher1</th>
            </tr>
            <tr>
                <th>1</th>
                <th>Lesson1</th>
                <th>Classroom1</th>
                <th>Teacher1</th>
            </tr>
            <tr>
                <th>1</th>
                <th>Lesson1</th>
                <th>Classroom1</th>
                <th>Teacher1</th>
            </tr>
        </table>
        <button class="btn" onclick="ShowClass()">Add lesson</button>
    </div>
    <div class="shedule_day">
        <h3 class="up"><i>Tuesday</i></h3>
        <table>
            <tr>
                <th>#</th>
                <th>Subject</th>
                <th>Classroom</th>
                <th>Teacher</th>
            </tr>
            <tr>
                <th>1</th>
                <th>Lesson1</th>
                <th>Classroom1</th>
                <th>Teacher1</th>
            </tr>
            <tr>
                <th>1</th>
                <th>Lesson1</th>
                <th>Classroom1</th>
                <th>Teacher1</th>
            </tr>
            <tr>
                <th>1</th>
                <th>Lesson1</th>
                <th>Classroom1</th>
                <th>Teacher1</th>
            </tr>
        </table>
        <button class="btn" onclick="ShowClass()">Add lesson</button>
    </div>
</div>