@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
    <link rel="stylesheet" href="~/css/styleprofile.css">
</head>
<body>
    <header>
        <div class="div_header">
            <a asp-controller="User" asp-action="Index"><img src="~/logo1.png" class="image"></a>
            <div class="right_pos">
                <a asp-controller="User" asp-action="Index" class="div_link">Users</a>
                <a asp-controller="Class" asp-action="Index" class="div_link">Classes</a>
                <a asp-controller="Shedule" asp-action="Index" class="div_link">Shedule</a>
            </div>
        </div>
    </header>
    <main>
        <div class="center">
            <div class="two">
                <div class="thing m-2 two_left">
                    <h2 class="up">Name</h2>
                    <hr>
                    <input type="text" id="name" placeholder="Petr">
                </div>
                <div class="thing m-2 two_right">
                    <h2 class="up">Surname</h2>
                    <hr>
                    <input type="text" id="surname" placeholder="Petrov">
                </div>
            </div>
            <div class="two">
                <div class="thing m-2 two_left">
                    <h2 class="up">Patronymic</h2>
                    <hr>
                    <input type="text" id="patronymic" placeholder="Petrovich">
                </div>
                <div class="thing m-2 two_right">
                    <h2 class="up">Birthday</h2>
                    <hr>
                    <input type="date" id="birthday" placeholder="01.01.2011">
                </div>
            </div>
            <div class="two">
                <div class="thing m-2 two_left">
                    <h2 class="up">Phone</h2>
                    <hr>
                    <input type="text" id="phone" placeholder="09712345678">
                </div>
                <div class="thing m-2 two_right">
                    <h2 class="up">E-mail</h2>
                    <hr>
                    <input type="text" id="email" placeholder="petr.petrov@gmail.com">
                </div>
            </div>
            <div class="two">
                <div class="button m-2 two_left">
                    <a asp-controller="User" asp-action="Index">Update</a>
                </div>
                <div class="button m-2 two_right">
                    <a href="">Delete</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
