@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <header>
        <div class="div_header">
            <a asp-controller="User" asp-action="Index"><img src="~/logo1.png" class="image"></a>
            <div class="right_pos">
                <a asp-controller="User" asp-action="Index" class="div_link">Users</a>
                <a asp-controller="Class" asp-action="Index" class="div_link">Classes</a>
                <a asp-controller="Shedule" asp-action="Index" class="div_link">Shedule</a>
                <a asp-controller="Event" asp-action="Index" class="div_link">Event</a>
            </div>
        </div>
    </header>
    <hr>
    <main>
        <div class="flex">
            <div class="left">
                <button class="btn"><a class="link" asp-controller="User" asp-action="AddUser">Add User</a></button>
                <h3 class="filter"><i>Filtering</i></h3>
                <button class="btn" onclick="ShowUsers()">Users</button>
                <div class="hide" id="hide">
                    <div class="check">
                        <input type="checkbox" id="pupil">
                        <label for="pupil">Pupil</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" id="teacher">
                        <label for="teacher">Teacher</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" id="administrator">
                        <label for="administrator">Administrator</label>
                    </div>
                </div>
                <button class="btn" onclick="ShowClass()">Class</button>
                <div class="hide" id="hidetwo">
                    <div class="check">
                        <input type="checkbox" id="1">
                        <label for="1">1</label>
                        <div class="check1">
                            <input type="checkbox" id="1A">
                            <label for="1A">1А</label>
                        </div>
                        <div class="check1">
                            <input type="checkbox" id="1Б">
                            <label for="1Б">1Б</label>
                        </div>
                    </div>
                    <div class="check">
                        <input type="checkbox" id="2">
                        <label for="2">2</label>
                        <div class="check1">
                            <input type="checkbox" id="2A">
                            <label for="2A">2А</label>
                        </div>
                        <div class="check1">
                            <input type="checkbox" id="2Б">
                            <label for="2Б">2Б</label>
                        </div>
                        <div class="check1">
                            <input type="checkbox" id="2B">
                            <label for="2B">2B</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="sear">
                    <div class="search">
                        <label for="find">Find</label>
                        <input type="text" id="find">
                    </div>
                </div>
                <div class="users">
                    <div class="user">
                        <div class="user-text left_user">
                            <h3>Petrov Petr Petrovich</h3>
                            <h3>Class 1-A</h3>
                        </div>
                        <div class="right_user">
                            <a class="dropdown-item" asp-controller="User" asp-action="Profile">Information</a>
                            <a class="dropdown-item" asp-controller="User" asp-action="EditUser">Edit</a>
                            <a class="dropdown-item" href="#">Delete</a>
                        </div>
                    </div>
                    <div class="user">
                        <div class="user-text left_user">
                            <h3>Petrov Petr Petrovich</h3>
                            <h3>Class 1-A</h3>
                        </div>
                        <div class="right_user">
                            <a class="dropdown-item" asp-controller="User" asp-action="Profile">Information</a>
                            <a class="dropdown-item" asp-controller="User" asp-action="EditUser">Edit</a>
                            <a class="dropdown-item" href="#">Delete</a>
                        </div>
                    </div>
                    <div class="user">
                        <div class="user-text left_user">
                            <h3>Petrov Petr Petrovich</h3>
                            <h3>Class 1-A</h3>
                        </div>
                        <div class="right_user">
                            <a class="dropdown-item" asp-controller="User" asp-action="Profile">Information</a>
                            <a class="dropdown-item" asp-controller="User" asp-action="EditUser">Edit</a>
                            <a class="dropdown-item" href="#">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="~/js/admin.js"></script>
</body>
</html>
