@{
    ViewData["Title"] = "Home Page";
}
<html>
    <head>
    </head>
    <body>
        <a asp-controller="Home" asp-action="Login" class="div_link">Login</a>
        <a asp-controller="Home" asp-action="Registration" class="div_link">Login</a>
    </body>
</html>
