@{
    ViewData["Title"] = "Home Page";
}

@section Head{
    <link rel="stylesheet" href="~/css/styleprofile.css">
}

<div class="center">
    <div class="two">
        <div class="thing m-2 two_left">
            <h1 class="display-4">Welcome to Notice</h1>
        </div>
    </div>
</div>
