@{
    ViewData["Title"] = "Home Page";
}

@section Head{
    <link rel="stylesheet" href="~/css/styleprofile.css">
}

<h1>ImportFromExceFile</h1>

<div>
    @using (Html.BeginForm("ImportFromExceFile", "Schedule", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
    {
        <div>
            Import Excel-file:
            <input type="file" name="fileExcel" id="fileExcel" />
            <div>
                <input type="submit" value="Load" />
            </div>
        </div>
    }
</div>