<!DOCTYPE html>
<html lang="en">
<head>
    <title>Unica - University Template</title>
    <meta charset="UTF-8">
    <meta name="description" content="Unica University Template">
    <meta name="keywords" content="event, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="~/favicon.ico" rel="shortcut icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/themify-icons.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <link rel="stylesheet" href="css/animate.css" />
    <link rel="stylesheet" href="css/owl.carousel.css" />
    <link rel="stylesheet" href="css/style 2.css" />
    <link rel="stylesheet" href="css/style.css" />


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- header section -->
    <header>
        <div class="div_header">
            <a asp-controller="Home" asp-action="Index"><img src="~/logo1.png" class="image"></a>
            <div class="right_pos">
                <a asp-controller="Home" asp-action="Index" class="div_link">Login</a>
                <a asp-controller="Home" asp-action="Index" class="div_link">Registration</a>
            </div>
        </div>
    </header>
    <!-- header section end-->
    <!-- Header section  -->
    <!-- Header section end -->
    <!-- Hero section -->
    <section class="hero-section">
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="./hero-slider/1.jpg">
                <div class="hs-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="hs-subtitle">Award Winning UNIVERSITY</div>
                                <h2 class="hs-title">An investment in knowledge pays the best interest.</h2>
                                <p class="hs-des">Education is not just about going to school and getting a degree. It's about widening your<br> knowledge and absorbing the truth about life. Knowledge is power.</p>
                                <div class="site-btn">GET STARTED</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="./hero-slider/2.jpg">
                <div class="hs-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="hs-subtitle">Award Winning UNIVERSITY</div>
                                <h2 class="hs-title">An investment in knowledge pays the best interest.</h2>
                                <p class="hs-des">Education is not just about going to school and getting a degree. It's about widening your<br> knowledge and absorbing the truth about life. Knowledge is power.</p>
                                <div class="site-btn">GET STARTED</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero section end -->
    <!-- Counter section  -->
    <section class="enroll-section spad set-bg" data-setbg="./enroll-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title text-white">
                        <h3>ENROLLMENT</h3>
                        <p>Get started with us to explore the exciting</p>
                    </div>
                    <div class="enroll-list text-white">
                        <div class="enroll-list-item">
                            <span>1</span>
                            <h5>Contact</h5>
                            <p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices augue.</p>
                        </div>
                        <div class="enroll-list-item">
                            <span>2</span>
                            <h5>Consulting</h5>
                            <p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices augue.</p>
                        </div>
                        <div class="enroll-list-item">
                            <span>3</span>
                            <h5>Register</h5>
                            <p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices augue.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 p-lg-0 p-4">
                    <img src="./encroll-img.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Courses section end-->
    <!-- Fact section -->
    <section class="fact-section spad set-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3 fact">

                    <div class="fact-text">
                        <h2>50</h2>
                        <p>YEARS</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 fact">

                    <div class="fact-text">
                        <h2>80</h2>
                        <p>TEACHERS</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 fact">

                    <div class="fact-text">
                        <h2>500</h2>
                        <p>STUDENTS</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 fact">
                    <div class="fact-text">
                        <h2>800+</h2>
                        <p>LESSONS</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Event section end -->
    <!-- Gallery section -->
    <div class="gallery-section">
        <div class="gallery">
            <div class="grid-sizer"></div>
            <div class="gallery-item gi-big set-bg" data-setbg="./gallery/1.jpg">
                <a class="img-popup" href="./gallery/1.jpg"></a>
            </div>
            <div class="gallery-item set-bg" data-setbg="./gallery/2.jpg">
                <a class="img-popup" href="./gallery/2.jpg"></a>
            </div>
            <div class="gallery-item set-bg" data-setbg="./gallery/3.jpg">
                <a class="img-popup" href="./gallery/3.jpg"></a>
            </div>
            <div class="gallery-item gi-long set-bg" data-setbg="./gallery/5.jpg">
                <a class="img-popup" href="./gallery/5.jpg"></a>
            </div>
            <div class="gallery-item gi-big set-bg" data-setbg="./gallery/8.jpg">
                <a class="img-popup" href="./gallery/8.jpg"></a>
            </div>
            <div class="gallery-item gi-long set-bg" data-setbg="./gallery/4.jpg">
                <a class="img-popup" href="./gallery/4.jpg"></a>
            </div>
            <div class="gallery-item set-bg" data-setbg="./gallery/6.jpg">
                <a class="img-popup" href="./gallery/6.jpg"></a>
            </div>
            <div class="gallery-item set-bg" data-setbg="./gallery/7.jpg">
                <a class="img-popup" href="./gallery/7.jpg"></a>
            </div>
        </div>
    </div>
    <!-- Gallery section -->
    <!-- Blog section -->
    <section class="blog-section spad">
        <div class="container">
            <div class="section-title text-center">
                <h3>LATEST NEWS</h3>
                <p>Get latest breaking news & top stories today</p>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="blog-item">
                        <div class="blog-thumb set-bg" data-setbg="./blog/1.jpg"></div>
                        <div class="blog-content">
                            <h4>Parents who try to be their children’s best friends</h4>
                            <div class="blog-meta">
                                <span>24 Mar 2018</span>
                                <span>Owen Wilson</span>
                            </div>
                            <p>Integer luctus diam ac scerisque consectetur. Vimus dot euismod neganeco lacus sit amet. Aenean interdus mid vitae sed accumsan...</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="blog-item">
                        <div class="blog-thumb set-bg" data-setbg="./blog/2.jpg"></div>
                        <div class="blog-content">
                            <h4>Graduations could be delayed as external examiners</h4>
                            <div class="blog-meta">
                                <span>23 Mar 2018</span>
                                <span>Owen Wilson</span>
                            </div>
                            <p>Integer luctus diam ac scerisque consectetur. Vimus dot euismod neganeco lacus sit amet. Aenean interdus mid vitae sed accumsan...</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="blog-item">
                        <div class="blog-thumb set-bg" data-setbg="./blog/3.jpg"></div>
                        <div class="blog-content">
                            <h4>Private schools adopt a Ucas style application system</h4>
                            <div class="blog-meta">
                                <span>24 Mar 2018</span>
                                <span>Owen Wilson</span>
                            </div>
                            <p>Integer luctus diam ac scerisque consectetur. Vimus dot euismod neganeco lacus sit amet. Aenean interdus mid vitae sed accumsan...</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="blog-item">
                        <div class="blog-thumb set-bg" data-setbg="./blog/4.jpg"></div>
                        <div class="blog-content">
                            <h4>Cambridge digs in at the top of university league table</h4>
                            <div class="blog-meta">
                                <span>23 Mar 2018</span>
                                <span>Owen Wilson</span>
                            </div>
                            <p>Integer luctus diam ac scerisque consectetur. Vimus dot euismod neganeco lacus sit amet. Aenean interdus mid vitae sed accumsan...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-section">

        <!-- copyright -->
        <div class="copyright">
            <div class="container">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with by <a href="https://colorlib.com" target="_blank">Notice</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </footer>
    <!-- Footer section end-->
    <!--====== Javascripts & Jquery ======-->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.countdown.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/magnific-popup.min.js"></script>
    <script src="js/main 2.js"></script>

</body>
</html>