@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Class</title>
    <link rel="stylesheet" href="~/css/styleprofile.css">
</head>
<body>
        <header>
            <div class="div_header">
                <a asp-controller="User" asp-action="Index"><img src="~/logo1.png" class="image"></a>
                <div class="right_pos">
                    <a asp-controller="User" asp-action="Index" class="div_link">Users</a>
                    <a asp-controller="Class" asp-action="Index" class="div_link">Classes</a>
                    <a asp-controller="Shedule" asp-action="Index" class="div_link">Shedule</a>
                </div>
            </div>
        </header>
        <main>
            <div class="center">
                <div class="two">
                    <div class="thing m-2 two_left">
                        <h2 class="up">Class name</h2>
                        <hr>
                        <input type="text" id="classname">
                    </div>
                    <div class="thing m-2 two_right">
                        <h2 class="up">Teacher</h2>
                        <hr>
                        <input type="text" id="teacher">
                    </div>
                </div>
                <div class="PupilsClass">
                    <h2 class="up">Pupils</h2>
                    <div class="pupilblue" id="pupil">
                        <h4>Petrov Petr Petrovich</h4>
                        <h4>Petrov Petr Petrovich</h4>
                        <h4>Petrov Petr Petrovich</h4>
                        <h4>Petrov Petr Petrovich</h4>
                        <h4>Petrov Petr Petrovich</h4>
                        <select class="btn" style="margin-bottom: 1em;">
                            <option value="Select">Select pupil</option>
                        </select>
                        <button class="btn">Add user</button>
                    </div>
                </div>
                <div class="button m-2 two last centerbutton">
                    <a href="">Add</a>
                </div>
            </div>
        </main>
</body>
</html>