
@{
    ViewData["Title"] = "Classes";
}

@section Head{
    <link rel="stylesheet" href="~/css/styleprofile.css">
}

<div class="center">
    <div class="two">
        <div class="thing m-2 two_left">
            <h2 class="up">Class name</h2>
            <hr>
            <h2>1-A</h2>
        </div>
        <div class="thing m-2 two_right">
            <h2 class="up">Teacher</h2>
            <hr>
            <h2>Ivanova Elena Ivanovna</h2>
        </div>
    </div>
    <div class="PupilsClass">
        <h2 class="up">Pupils</h2>
        <div class="pupilblue">
            <h4>Petrov Petr Petrovich</h4>
            <h4>Petrov Petr Petrovich</h4>
            <h4>Petrov Petr Petrovich</h4>
            <h4>Petrov Petr Petrovich</h4>
            <h4>Petrov Petr Petrovich</h4>
        </div>
    </div>
    <div class="two last">
        <div class="button m-2 two_left">
            <a asp-controller="Class" asp-action="Index">Update</a>
        </div>
        <div class="button m-2 two_right">
            <a>Delete</a>
        </div>
    </div>
</div>