body {
    margin: 0;
    min-width: 900px;
}

.div_header {
    display: flex;
}

header {
    text-align: center;
}

.right_pos {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.div_link {
    margin: 2em;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    color: #34B9BE;
}
.div_link:hover {
    color: black;
}
.image {
    margin-top: 0.5em;
    margin-left:0.5em;
}
.right {
    width: 70%;
    padding: 2em;
    padding-left: 4em;
    margin-right: auto;
    align-items: center;
    background-color: rgba(52, 185, 190,0.75);
}

.left {
    width: 30%;
    border-right: 0.18em solid white;
    margin: 0;
    background-color: rgba(255, 255, 255,1);
}

.btn {
    padding-left: 0.3em;
    color: #34B9BE;
    background-color: white;
    width: 100%;
    font-size: 2.5em;
    text-align: left;
    padding: 0.5em;
    border: 2px solid #34B9BE;
}

.flex {
    display: flex;
}

.check {
    padding: 1em;
    width: 100%;
    line-height: 1.3em;
    font-size: 1.5em;
    background-color: rgba(52, 185, 190,0.75);
}

.check1 {
    padding-left: 1.5em;
}

.search {
    font-size: 3em;
    line-height: 0.5em;
    display: flex;
    color: white;
    text-align: center;
    margin-left: 1em;
    margin-bottom: 1em;
}

    .search input {
        height: 2em;
        width: 80%;
        border: 0.2em solid white;
    }

    .search label {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 1.5em;
    }

.user {
    display: flex;
    justify-content: space-between;
    width: 94%;
    border: 0.2em solid white;
    background-color: white;
    padding: 1em;
    margin-left: 2.4em;
    margin-bottom: 2em;
}
.user-text {
    font-size: 1em;
    margin-bottom: auto;
    margin-top: auto;
}

    .user-text h3 {
        font-family: "ui-monospace";
        margin: 1em;
    }

.btn_user {
    border: none;
    background-color: white;
    align-items: end;
}

